* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Exo', sans-serif;
  /* background-image: url(./img/table.png); */
  background-image: url(./img/background-img.avif);
  backdrop-filter: blur(10px);
  background-size: cover;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 575px;
  max-width: 100%;
  height: 100vh;
  background-image: url(./img/table.png);
  background-size: cover;
  box-shadow: 1px 1px 20px #222;
  border-radius: 4px;
  border: 1px solid gold;
}

h2 {
  margin: 0;
  font-size: 2.4rem;
}

.new-deck,
.draw-cards {
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.new-deck {
  font-size: 1.1rem;
  margin-top: 0.7em;
  padding: 0.475em 2em;
  align-self: flex-start;
  font-family: 'Exo', sans-serif;
}
.draw-cards {
  width: 100%;
  padding: 1em;
  font-size: 1.1rem;
  font-family: 'Exo', sans-serif;
}

.draw-cards:active,
.new-deck:active {
  background: rgb(236, 208, 45);
}

.draw-cards:disabled {
  cursor: not-allowed;
}

.card-slot {
  margin: 0 auto;
  border: 1px solid #222;
  height: 314px;
  width: calc(314px * 5 / 7);
  border-radius: 7px;
}

.card-slot:nth-of-type(1) {
  margin-bottom: 2.2em;
}

p {
  font-size: 1.2rem;
  margin-right: 0.4em;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-height: 900px) {
  #cards {
    display: flex;
  }
}
